/*/////////////////////////////////////////////////////////////////////////INDEX.TSX////////////////////////////////////////////////////////////////////////////////////////////////////*/
body{
  background-color: black;
  color: #fff;
}
#titulo{
  display: flex;
  justify-content: center;
}
.contenedor{
  display: flex;
  flex-direction: row;
  border: dashed 1px white;
  margin: 15px;
  border-radius: 10PX;
}
a{
  text-decoration: none;
  color: #fff;
}
img{
  margin: 15px;
  margin-left: 50px;
  width: 250px;
  height: 200px;
  background-color: white;
}
.contenido{
  
  width: 100%;;
}
h2{
  margin-left: 5%;
}
p{
  margin-left: 5%;
}
/*///////////////////////////////////////////////////////////////////////////////////////VIAJE_DETALLADO.TSX//////////////////////////////////////////////////////////////////
/*/
.viaje_detallado{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
#imagen_larga{
  display: flex;
  width: 80%;
  align-self: center;
  background-color: grey;
  height: 300px;
}
#titulo_pais{
  letter-spacing: 4px;
  margin-left: 5%;
  font-size: xx-large; 
}
#descripcion_larga{
  letter-spacing: 2px;
  font-size: medium;
}
#volver{
  font-size: xx-large;
  text-align: center;
}